.footer {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;

  ul {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;

    span {
      color: #3DBDF6;
      cursor: pointer;

      &:hover {
        color: hsla(216, 100%, 50%, 0.781);
      }
    }
  }
}